# Node
node_modules/
**/node_modules/

# Builds
.next/
dist/
build/
out/

# Env
.env
.env.*

# Prisma
prisma/dev.db
prisma/*.db
prisma/migrations/*

# Windows junk
*.cmd
*.ps1

# Logs
npm-debug.log*
yarn-error.log*
